	body{
		background-image:url(backimg/back.jpg);
	}
	p{
		text-indent:2em;
	}
	#t{
		font-size:6em;
		color:white;
		font-family:'华文行楷';
		letter-spacing:40px;
	}
	#top1{
		height:200px;
		background-image:url(backimg/img0.jpg);
		opacity:0.8;
		border-radius: 11px;
		overflow:hidden;
		line-height:200px;
		text-align: center;
		margin:0 auto;
	}
	#a1{
		text-decoration:none;
	}
    a:visited {
    color:white;
    }
    a:hover {
    color:red;
    }
	#top2{
		height:1100px;
		padding-left:125px;
		padding-top:25px;
		margin:0 auto;
	}
	#top21{		
		width:1200px;
		height:540px;
		background-color:white;
		border:1px solid grey;
		padding-left:10px;
		border-radius: 11px;
	}
	#top211{
		width:430px;
		height:500px;
		float:right;
		margin-top:20px;
		margin-right:20px;
	}
	#top212{
		width:55px;
		height:20px;
		position:absolute;
		left:750px;
		top:260px;
	}
	#shoucang{
		font-size:0.75em;
		text-decoration:underline;
		font-size:0.9em;
		color:red;
	}
	#img2{
		width:430px;
		height:500px;
	}
	#top22{
		width:1170px;
		height:440px;
		background-color:white;
		margin-top:40px;
		padding-left:40px;
		border:1px solid grey;
		border-radius: 11px;
	}
	#top221{
		width: 145px;
		height: 50px;
		padding-left: 15px;
		float:left;
		margin-top:15px;
		border-radius: 11px;
		border:1px solid grey;
		line-height:50px;
	}
	.stop22{
		width: 145px;
		height: 50px;
		padding-left: 15px;
		float:left;
		margin-top:15px;
		border-radius: 11px;
		border:1px solid grey;
		line-height:50px;
	}
	#top222{
		width: 145px;
		height: 50px;
		padding-left: 15px;
		float:left;
		margin-top:15px;
		border-radius: 11px;
		border:1px solid grey;
		line-height:50px;
	}
	#top223{
		width: 145px;
		height: 50px;
		padding-left: 15px;
		float:left;
		margin-top:15px;
		border-radius: 11px;
		border:1px solid grey;
		line-height:50px;
	}
	.s0top22{
		width: 145px;
		height: 50px;
		padding-left: 15px;
		float:left;
		margin-top:15px;
		border-radius: 11px;
		border:1px solid grey;
		line-height:50px;
		background-color:blue;
	}
	#top224{
		width: 1100px;
		height: 340px;
		padding-left: 15px;
		float:left;
		margin-top:15px;
		border-radius: 11px;
		border:1px solid grey;
	}
	#top225{
		width: 1100px;
		height: 340px;
		padding-left: 15px;
		float:left;
		margin-top:15px;
		border-radius: 11px;
		border:1px solid grey;
		position: absolute;	
		top:883px;
		left:174px;
	}
	#top226{
		width: 1100px;
		height: 340px;
		padding-left: 15px;
		float:left;
		margin-top:15px;
		border-radius: 11px;
		border:1px solid grey;
		position: absolute;	
		top:883px;
		left:174px;
	}
	.s1top22{
		width: 145px;
		height: 50px;
		padding-left: 15px;
		float:left;
		margin-top:15px;
		border-radius: 11px;
		border:1px solid grey;
		line-height:50px;
		background-color:white;
	}
	.s2top22{
		width: 145px;
		height: 50px;
		padding-left: 15px;
		float:left;
		margin-top:15px;
		border-radius: 11px;
		border:1px solid grey;
		line-height:50px;
		background-color:white;
	}
	.w{
		font-size:2em;
	}
	.hidden{
		visibility:hidden;
		display:none;
	}
	.visible{
		visibility:visible;
	}
	#img6{
		width:1050px;
		height:240px;
	}
	li{
	list-style-type: none;
	}
	#center{
		width:1200px;
		height:550px;
		margin-left: 125px;
		border:1px solid grey;
		background-color:white;
		margin-top:10px;
		padding-left: 20px;
		padding-top: 10px;
		border-radius: 11px;
	}
	#center1{
		border:1px solid #fff;
		height:430px;
		width: 900px;
		border-radius: 11px;
		float: left;
	}
	#bx{
		width: 840px;
		height: 382px;
		left:25px;
		overflow: hidden;
		top:25px;
		position: relative;
	}
	#igbx{
		width: 5880px;
		position: absolute;
		left: -840px;
	}
	.imga{
		width: 840px;
		float: left;
		overflow: hidden;
	}
	.sanimg{
		width: 840px;
	}
	#list{
		position: absolute;
		left:-40px;
		bottom:-15px;
		width:1200px;
		height: 40px;
	}
	#list li{
		float: left;
		width: 167px;
		height: 40px;
		background:black;
		border-right: 1px solid #fff;
		text-align: center;
		line-height: 40px;
		opacity:0.4;
		color:#fff;
	}
	#list li:first-child{
		background-color:blue;	
		opacity:1;	
	}
	#center2{
		width:257px;
		height:450px;
		float: left;
	}